body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: lightblue;
}

.title {
  font-size: 2.8rem;
  font-family: 'Syncopate', sans-serif;
  font-weight: bolder;
  color: rgb(236, 53, 53);
  text-shadow: 2px 2px black;
  text-align: center;
}

.center {
  text-align: center;
}

.wrapper {
  margin: 50px auto 0;
  width: 540px;
}

.primary {
  color: #333;
  margin: 0 0 0.75rem;
  font-weight: 500;
}

.secondary {
  color: #bbb;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

.play-again {
  height: 0px;
  overflow: hidden;
}

.play-again-btn {
  display: inline-block;
  margin-bottom: 3rem;
  height: 50px;
  width: 50%;
  background: teal;
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

/* board */
.board {
  border-left: 10px solid blue;
  border-right: 10px solid blue;
  background: yellow;
}

.board button {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  margin: 1px;
  background: #bbb;
}

.board button:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.board button:focus {
  outline: 0;
}

/* button colors when coin is placed */
.board button.red {
  background: rgb(236, 53, 53);
}
.board button.black {
  background: #000;
}

/* footer */
.github {
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 12px;
  color: #333;
  padding: 4px 8px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.github:hover {
  color: rgb(236, 53, 53);
}

/* Media Queries */
